.navbar-brand{
  color: whitesmoke;
  background-color: darkgrey;
  padding: .2em;
  border-radius: .2em;
  opacity: 50%;
}
.nav-link:hover{
  background-color: green;
  color: black;

}

#navbarDropdown{
  color: white;
}
#navbarDropdown:hover{
  background-color: green;
  color: white;
}
.dropdown-item:hover{
  background-color: green;
  color: white;
}
